body{
	font-family: Arial;
}

#fond{
	background-image: url(../img/bgfleur.jpg);
}
#header{
	padding-top: 80px;
	background-image:url(../img/header.png);
	color:red;
}

#header h2{
	border-top: 10px;
}

#navbar{
	text-align:center;
	width: 75%;
	margin:auto;
	overflow: hidden;
	
}
#navbar ul{
	background-color: white;
	width:80%;
}
#navbar li{
	background-color: rgb(188,128,162);
	display:inline;
	float:left;
	border:solid white 5px;
	border-radius: 10px;
	box-sizing:border-box;	

}

#recherche {
	margin-top: 8px;
	float:left;
	width:20%;
}

#navbar a{
	text-decoration: none;
	padding:0 8px;
	color:white;
	font-size: 25px;
}

#container {
	text-align:center;
	width: 75%;
	margin:auto;
	overflow: hidden;




}

#contenu {
	background-color: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 100px;

	

}

h3{
	color:black;
	grid-column: 1 /4;
	grid-row: 1;
	padding:10px;	
	border:solid grey 1px;
	font-family: andale mono;
	font-size: 20px;
	letter-spacing: 2px;
	word-spacing: 8px;
}


h4{
	background-color:#dbd7d7;
	padding:5px;
	grid-column: 2 / 4; 
	grid-row :2;
	border: solid rgb(188,128,162) 3px;
	border-radius: 15px;
	font-size: 15px;
	font-weight: normal;
	color:black;
}

#image{
	grid-row: 2/6;
	grid-column: 1;
}

.clear{
	clear: both;
}

h6{
	grid-column: 1/4;
	grid-row: 7;
	font-size: 10px;
}

#ajpanier{
	grid-column: 2/4;
	grid-row: 4;
}

#prix{
	grid-column: 4;
	grid-row: 4;
	text-align: center;
	font-size:30px;
}

#prix img{
	padding-right:5px;
}


strong{
	text-decoration: underline;
}
